<div class="container-fluid contentBody">
	<div class="row">

		<div class="col-12">
			<form id="searchBarA">
				<div id="textSearch">
					<input id="inputSearch" type="text" class="searchBar elemColorStyle-1" placeholder="Search..." />
				</div>

				<!--TODO DB input (genres) -->
				<div id="genresSelect">
					<button onclick="showSearchSelect('genres'); return false;" class="searchBar elemActionStyle-1 elemColorStyle-1">Genre</button>
					<div id="genres" class="formSelectBox elemColorStyle-1 searchBox display-n">
						<ul>
							@for (var x = 0; x <= 11; x++)
							{
								<li class="formSelectElement">
									<input type="checkbox" id="@x" onclick="checkboxBackColor(@x)" name="genre" value="@x" class="back-col-777" />
									<label for="@x">@x</label>
								</li>
							}
						</ul>
					</div>
				</div>

				<!--TODO DB input (year) -->
				<div id="yearSelect">
					<button onclick="showSearchSelect('year'); return false;" class="searchBar elemActionStyle-1 elemColorStyle-1">Select Year</button>
					<div id="year" class="formSelectBox elemColorStyle-1 searchBox display-n">
						<ul>
							@for (var x = 20; x <= 31; x++)
							{
								<li class="formSelectElement">
									<input type="checkbox" id="@x" onclick="checkboxBackColor(@x)" name="yearSelect" value="@x" class="back-col-777" />
									<label for="@x">@x</label>
								</li>
							}
						</ul>
					</div>
				</div>

				
				<div id="sortBySelect">
					<button onclick="showSearchSelect('sortBy'); return false;" class="searchBar elemActionStyle-1 elemColorStyle-1">Sort By</button>
					<div id="sortBy" class="formSelectBox elemColorStyle-1 searchBox display-n">
						<ul>
							<li class="formSelectElement">
								<input type="checkbox" class="checkboxSearch back-col-777" id="releaseDate" onclick="checkOnlyOne('releaseDate', 'checkboxSearch')" name="sort" value="releaseDate" />
								<label for="releaseDate">Release Date</label>
							</li>
							<li class="formSelectElement">
								<input type="checkbox" class="checkboxSearch back-col-777" id="az" onclick="checkOnlyOne('az', 'checkboxSearch');" name="sort" value="az" />
								<label for="az">A-Z</label>
							</li>
						</ul>
					</div>
				</div>

				<input id="searchSub" class="searchBar elemActionStyle-1 elemColorStyle-1" type="submit" value="Suchen" />
			</form>
		</div>

	</div>
</div>


<script src="~/js/site.js"></script>
<script language="javascript" type="text/javascript">
	IdVisibility("searchbar-elem", false);
	IdVisibility("nav-setting-btn", false);
</script>